/**
 * Fichier de configuration des logs.
 * 
 * Conserver le format en l'état, sinon l'application ne fonctionnera pas.
 * Remplisser le id avec un identifiant unique pour chaque lignes.
 * @author ZUBER Lionel <lionel.zuber@armaklan.org>
 * @version 0.1
 * @license MIT
 */
 
var logfiles = [];

logfiles[0] = {
	name: "fluxpousse",
	url : "c:\\developpement\\test.log"
};

logfiles[1] = {
	name: "ErrLog",
	url : "c:\\developpement\\err.log"
};


/**
* Level can be danger, info, warning, success
*/
var highlight = [];
highlight[0] = {
	text: "error",
	level: "danger"
}

highlight[1] = {
	text: "exception",
	level: "danger"
}

highlight[2] = {
	text: "warning",
	level: "warning"
}

module.exports.logfiles = logfiles;
module.exports.highlight = highlight;